#
# Copyright (c) 2019-2020 P3TERX <https://p3terx.com>
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#
# https://github.com/P3TERX/Actions-OpenWrt
# Description: Build OpenWrt using GitHub Actions
#

name: Del_releases

on:
#  schedule:
#    - cron: '30 18 * * *'
  repository_dispatch:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: false
        default: 'false'
jobs:
  build:
    runs-on: ubuntu-20.04    
    steps:
    - uses: dev-drprasad/delete-older-releases@v0.2.0
      with:
        repo: stroll101/actions # defaults to current repo
        keep_latest: 2
        delete_tag_pattern: R2 # defaults to ""
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
